# Ambiente virtual
venv/
.venv/
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos pesados antigos
models/

# VS Code
.vscode/

# Node / Node-RED local
node_modules/
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db
